# --find-links https://girder.github.io/large_image_wheels GDAL
duckdb
ffmpeg-python
geeadd
geedim
geemap
geopandas
hypercoast
# kaleido
leafmap
mapclassify
maplibre
numpy
pandas
rasterio
rioxarray
solara
voila
voila-topbar
whiteboxgui
xarray
